<div class="home-page">

  <div class="container">
    <div class="row clearfix">

      <div class="col-md-12 column">

      <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-8 column">
          <div #containerPieChart></div>
  </div>
        </div>
      <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-2 column">
        </div>
        <div class="col-md-2 column">
          <button type="button" class="btn btn-default btn-block" >Previous</button>
        </div>
        <div class="col-md-2 column">
          <button type="button" class="btn btn-default btn-block" onClick="window.location.href=('visualization.html')">Next</button>
        </div>
        <div class="col-md-2 column">
        </div>
        <div class="col-md-2 column">
        </div>
      </div>
      <div>
        <p>
        </p>
      </div>
      <div class="jumbotron well">
        <p>
          Causes for homelessness
        </p>
      </div>
    </div>
  </div>
</div>
</div>
