<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/Image/second-home.jpg" alt="The Second Home"></a>

    <!-- Show this for logged out users -->
    <ul *showAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          <h3>Home</h3>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/visualization"
          routerLinkActive="active">
          <h3>Visualization</h3>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          <h3>Quiz</h3>
        </a>
      </li>

	  <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          <h3>About Us</h3>
        </a>
      </li>

    </ul>

  </div>
</nav>

