<header class="header" id="navb">
  <div>
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/Image/second-home.jpg" alt="The Second Home"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="nav navbar-nav pull-xs-right menu">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/">
          <h3>Home</h3>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/visualization"
          routerLinkActive="active">
          <h3>Visualization</h3>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/quiz"
          routerLinkActive="active">
          <h3>Quiz</h3>
        </a>
      </li>

	  <li class="nav-item">
        <a class="nav-link"
          routerLink="/about"
          routerLinkActive="active">
          <h3>About Us</h3>
        </a>
      </li>

    </ul>

  </div>
</header>

