<div class="home-page">
    <div class="container">
      <div class="carousel slide" id="carousel-649056">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-649056">
          </li>
          <li data-slide-to="1" data-target="#carousel-649056">
          </li>
          <li data-slide-to="2" data-target="#carousel-649056">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="../../assets/Image/youth1.jpg"/>
            <div class="carousel-caption">
              <h1>
                Don't let these kids go to streets
              </h1>
              <p>
                Homelessness in children
              </p>
              <p>
                <a class="btn btn-primary btn-large" routerLink="/visualization"
                   routerLinkActive="active">Learn more</a>
              </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../../assets/Image/youth2.jpg"/>
            <div class="carousel-caption">
              <h4>
              </h4>
              <p>
              </p>
            </div>
          </div>
          <div class="item">
            <img alt="" src="../../assets/Image/youth3.jpg"/>
            <div class="carousel-caption">
              <h4>
              </h4>
              <p>
              </p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-649056" data-slide="prev"><span
          class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                  href="#carousel-649056" data-slide="next"><span
        class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
 </div>
</div>
